#container {
    background-color: rgb(249, 250, 254);
    position:relative;
}
#navbar {
    float:right;
    margin-right:30px;
    font-family:;
    .clear {
        clear:left;
    }
    
}
.button {
    background-color:black;
    font-family:;
    color:white;
    text-align:center;
}
p {
    text-align:;
}
img{
    width:;
    height:;
    /*align image and margin*/
}